*

!/.config/

!/.config/starship.toml
!/.config/nvim/
!/.config/nvim/*
!/.config/nvim/*/*
!/.config/nvim/*/*/*

# vim
!.vimrc
!/.vim/
!/.vim/*
!/.vim/*/*
/.vim/plugged/*

!.profile
!.bashrc
!.zshrc
!README.md
!.gitignore
!.tmux.conf
!.gitconfig
!.gitmodules
!install.sh
!update.sh
