*

!/.config/

!/.config/starship.toml

# neovim
!/.config/nvim/
!/.config/nvim/*
!/.config/nvim/*/*
!/.config/nvim/*/*/*

# vscode
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json

# vim
!.vimrc
!/.vim/
!/.vim/*
/.vim/*/*

!.profile
!.bashrc
!.zshrc
!README.md
!.gitignore
!.tmux.conf
!.gitconfig
!.gitmodules
!install.sh
!update.sh
