#!/bin/sh

light-locker --lock-on-suspend &
source  ~/.config/wallpaper/launch.sh &

DISPLAY=":0" picom -b &

if [ "$XDG_CURRENT_DESKTOP" = "i3" ]; then
  export QT_QPA_PLATFORMTHEME=qt5ct
  export GTK_USE_PORTAL=1
fi

conky &
export GTK_IM_MODULE=fcitx &
export QT_IM_MODULE=fctix &
export XMODIFIERS=@im=fcitx &
fcitx5 &
